<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="left">
        <span class="lockup">Lighthouse Dashboard</span>
        <ng-container *ngIf="isLoggedIn">
          <div class="link-wrapper">
            <a
              [routerLink]="ApplicationRoute.SITE_LIST"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}"
            >
              Sites
            </a>
          </div>
          <div class="link-wrapper">
            <a
              [routerLink]="ApplicationRoute.CREATE_SITE"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
              Create new site
            </a>
          </div>
          <div class="link-wrapper" *ngIf="isAdmin">
            <a
              [routerLink]="ApplicationRoute.ADMIN"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
              Admin
            </a>
          </div>
        </ng-container>
      </div>
      <div class="right" *ngIf="isLoggedIn">
        <span>Welcome {{user.name}}</span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
