:host {
  display: block;
}

form {
  margin: 0 auto;
  max-width: 640px;
}

h1 {
  margin: 0 0 48px;
}

mat-form-field {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.cta-wrapper {
  display: flex;
  justify-content: flex-end;

  a {
    margin-right: 8px;
  }
}
