:host {
  display: block;
  margin: 16px;
}

.top-button-wrapper {
  padding: 12px;
}

table {
  width: 100%;
}

td {
  align-items: center;
  display: flex;
  justify-content: space-between;

  p {
    margin: 12px 0;
  }
}
