:host {
  display: block;
}

mat-form-field {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.cta-wrapper {
  display: flex;
  justify-content: flex-end;

  a {
    margin-right: 8px;
  }
}
